@import 'styles/common';

.header {
    background-color: $charcoal;
    height: $header-height;
}

.hamburger {
    flex-basis: $header-height;
}

.menu_wrapper {
    position: absolute;
    margin-top: $header-height!important;
    left: 100vw;
    height: calc(100vh - #{$header-height});
    z-index: 2;
    padding: 40px 34px!important;
    text-align: right;
    transition: 0.2s ease-in-out;
    @media(orientation: landscape) {
        padding: 0px 34px!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.is_active {
    left: 0;
}