@import '../../styles/common';

.background_image_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include linear-gradient(to bottom, rgba(black, 0.3) 0%, rgba(black, 0.18) 45%, rgba(black, 0) 66%);
        @media(orientation: landscape) {
            @include linear-gradient(135deg, rgba(black, 0.3) 0%, rgba(black, 0.18) 45%, rgba(black, 0) 66%);
        }
    }
}

.background_image {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}