@use '~sass-rem' as rem;

// Boostrap
@import "~bootstrap/scss/functions";
@import "overrides/bootstrap";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/utilities/api";

//Custom
@import 'common';

.bg-charcoal {
    background-color: $charcoal;
}

.charcoal {
    color:$charcoal;
}

.bg-slate {
    background-color: $slate;
}

.slate {
    color: $slate;
}

.bg-gold {
    background-color: $gold;
}

.gold {
    color: $gold;
}

.bg-white {
    background-color: white;
}

.white {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

h1, .heading-1 {
    font-size: rem.convert(64px);
    @extend %roboto;
    letter-spacing: 1.05;
}

.roboto {
    @extend %roboto;
}

.nunito {
    @extend %nunito;
}

.background-image {
    z-index: 0;
}